button {
    background: #ccc;
    font-size: 40px;
    font-weight: bold;
    border: 5px solid #222;
    color: #111;
    transition: all 0.8s;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    color: #fff;
    background: #ff0000;
    transition: all 0.5s;
}